body{
    background: rgba(29, 73, 155, 0.233);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.container{
    min-width: 1000px;
    width: 80%;
    height: 1000px;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    box-shadow: 0px 4px 10px -4px #C1ACBA;
    border: 1px solid var(--border);
}

.left-side-container{
    background-color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 4em;
}

.username-login{
    height: 40px;
    width: 350px;
    margin: 8px;
    border: none;
    background-color: rgba(224, 224, 224, 0.815);
    border-radius: 10px;
    font-size: 20px;
}

.password-login{
    height: 40px;
    width: 350px;
    margin: 8px;
    border: none;
    background-color: rgba(224, 224, 224, 0.815);
    border-radius: 10px;
    font-size: 20px;
}

.forgot-password{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}

.forgot-password:hover{
    cursor: pointer;
    font-weight: bolder;
}

.login-button{
    border-radius: 20px;
    border: 1px solid rgba(29, 73, 155, 0.795);
    background-color: rgba(29, 73, 155, 0.795);
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.login-button:hover{
    cursor: pointer;
}

.right-side-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(29, 73, 155, 0.795);
}

.slogan-right{
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    font-weight: bold;
    color: white;
}

.slogan-right-2{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    color: white;
}

.signup-button{
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.795);
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: transparent;
}

.signup-button:hover{
    border-radius: 20px;
    border: 1px solid rgba(29, 73, 155, 0.795);
    background-color: rgba(29, 73, 155, 0.795);
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}



    



